/*
 * White Label Communications CPaas API Documentation
 * A CPaaS platform API
 *
 * The version of the OpenAPI document: 1.1
 * Contact: support@whitelabelcomm.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package openapi;

import com.sun.jersey.api.client.GenericType;

import .ApiException;
import .ApiClient;
import .Configuration;
import openapi.*;
import .Pair;

import strings;


import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@.annotation.Generated(value = "org.openapitools.codegen.languages.GoClientCodegen", comments = "Generator version: 7.11.0-SNAPSHOT")
public class DeviceAPI {
  private ApiClient apiClient;

  public DeviceAPI() {
    this(Configuration.getDefaultApiClient());
  }

  public DeviceAPI(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Delete Device
   * Remove one device from a CPaaS account.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param deviceid Device ID, 32 alpha numeric (required)
   * @return ServiceDocsDeviceGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsDeviceGetSingle V1AccountAccountidDeviceDeviceidDelete(string accountid, string deviceid) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidDeviceDeviceidDelete");
    }
    
    // verify the required parameter 'deviceid' is set
    if (deviceid == null) {
      throw new ApiException(400, "Missing the required parameter 'deviceid' when calling V1AccountAccountidDeviceDeviceidDelete");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/device/{deviceid}"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()))
      .replaceAll("\\{" + "deviceid" + "\\}", apiClient.escapeString(deviceid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsDeviceGetSingle> localVarReturnType = new GenericType<ServiceDocsDeviceGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Delete", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Get Device Details
   * Permit a user to view specific device details.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param deviceid Device ID, 32 alpha numeric (required)
   * @return ServiceDocsDeviceGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsDeviceGetSingle V1AccountAccountidDeviceDeviceidGet(string accountid, string deviceid) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidDeviceDeviceidGet");
    }
    
    // verify the required parameter 'deviceid' is set
    if (deviceid == null) {
      throw new ApiException(400, "Missing the required parameter 'deviceid' when calling V1AccountAccountidDeviceDeviceidGet");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/device/{deviceid}"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()))
      .replaceAll("\\{" + "deviceid" + "\\}", apiClient.escapeString(deviceid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsDeviceGetSingle> localVarReturnType = new GenericType<ServiceDocsDeviceGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Get", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Update Device
   * Edit specifics about the device, such as the device type, name, and owner.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param deviceid Device ID, 32 alpha numeric (required)
   * @param device device fields (required)
   * @return ServiceDocsDeviceGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsDeviceGetSingle V1AccountAccountidDeviceDeviceidPut(string accountid, string deviceid, ServiceVOIPDeviceAddEdit2 device) throws ApiException {
    Object localVarPostBody = device;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidDeviceDeviceidPut");
    }
    
    // verify the required parameter 'deviceid' is set
    if (deviceid == null) {
      throw new ApiException(400, "Missing the required parameter 'deviceid' when calling V1AccountAccountidDeviceDeviceidPut");
    }
    
    // verify the required parameter 'device' is set
    if (device == null) {
      throw new ApiException(400, "Missing the required parameter 'device' when calling V1AccountAccountidDeviceDeviceidPut");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/device/{deviceid}"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()))
      .replaceAll("\\{" + "deviceid" + "\\}", apiClient.escapeString(deviceid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsDeviceGetSingle> localVarReturnType = new GenericType<ServiceDocsDeviceGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Put", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Get Device List
   * Obtain a list of all devices associated with an account such as fax machines, cell phones, and soft phones.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param startKey start_key for pagination that was returned as next_start_key from your previous call (optional)
   * @param pageSize number of records to return, range 1 to 50 (optional)
   * @return ServiceDocsDeviceGetAll
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsDeviceGetAll V1AccountAccountidDeviceGet(string accountid, string startKey, int32 pageSize) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidDeviceGet");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/device"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("start_key", startKey));
    localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsDeviceGetAll> localVarReturnType = new GenericType<ServiceDocsDeviceGetAll>() {};
    return apiClient.invokeAPI(localVarPath, "Get", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Create Device
   * Connect a new device to an account to enhance communication methods.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param device device fields (required)
   * @return ServiceDocsDeviceGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsDeviceGetSingle V1AccountAccountidDevicePost(string accountid, ServiceVOIPDeviceAddEdit2 device) throws ApiException {
    Object localVarPostBody = device;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidDevicePost");
    }
    
    // verify the required parameter 'device' is set
    if (device == null) {
      throw new ApiException(400, "Missing the required parameter 'device' when calling V1AccountAccountidDevicePost");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/device"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsDeviceGetSingle> localVarReturnType = new GenericType<ServiceDocsDeviceGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Post", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
}
