/*
 * White Label Communications CPaas API Documentation
 * A CPaaS platform API
 *
 * The version of the OpenAPI document: 1.1
 * Contact: support@whitelabelcomm.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package openapi;

import com.sun.jersey.api.client.GenericType;

import .ApiException;
import .ApiClient;
import .Configuration;
import openapi.*;
import .Pair;

import strings;
import os;


import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@.annotation.Generated(value = "org.openapitools.codegen.languages.GoClientCodegen", comments = "Generator version: 7.11.0-SNAPSHOT")
public class MediaAPI {
  private ApiClient apiClient;

  public MediaAPI() {
    this(Configuration.getDefaultApiClient());
  }

  public MediaAPI(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Get Media File
   * Gather data about the media objects in an account.
   * @param accountID Account ID, 32 alpha numeric (required)
   * @param mediaID Media ID, 32 alpha numeric (required)
   * @return *os.File
   * @throws ApiException if fails to make API call
   */
  public *os.File V1AccountAccountIDMediaMediaIDFileGet(string accountID, string mediaID) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountID' is set
    if (accountID == null) {
      throw new ApiException(400, "Missing the required parameter 'accountID' when calling V1AccountAccountIDMediaMediaIDFileGet");
    }
    
    // verify the required parameter 'mediaID' is set
    if (mediaID == null) {
      throw new ApiException(400, "Missing the required parameter 'mediaID' when calling V1AccountAccountIDMediaMediaIDFileGet");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountID}/media/{mediaID}/file"
      .replaceAll("\\{" + "accountID" + "\\}", apiClient.escapeString(accountID.toString()))
      .replaceAll("\\{" + "mediaID" + "\\}", apiClient.escapeString(mediaID.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json", "audio/mp3", "audio/mpeg", "audio/mpeg3", "audio/x-wav", "audio/wav", "audio/ogg", "video/x-flv", "video/h264", "video/mpeg", "video/quicktime", "video/mp4", "video/webm"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<*os.File> localVarReturnType = new GenericType<*os.File>() {};
    return apiClient.invokeAPI(localVarPath, "Get", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Add Media File
   * Include a media file that is connected to a media object in an account.
   * @param accountID Account ID, 32 alpha numeric (required)
   * @param mediaID Media ID, 32 alpha numeric (required)
   * @param file Media file (required)
   * @return ServiceDocsMediaGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsMediaGetSingle V1AccountAccountIDMediaMediaIDFilePost(string accountID, string mediaID, *os.File file) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountID' is set
    if (accountID == null) {
      throw new ApiException(400, "Missing the required parameter 'accountID' when calling V1AccountAccountIDMediaMediaIDFilePost");
    }
    
    // verify the required parameter 'mediaID' is set
    if (mediaID == null) {
      throw new ApiException(400, "Missing the required parameter 'mediaID' when calling V1AccountAccountIDMediaMediaIDFilePost");
    }
    
    // verify the required parameter 'file' is set
    if (file == null) {
      throw new ApiException(400, "Missing the required parameter 'file' when calling V1AccountAccountIDMediaMediaIDFilePost");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountID}/media/{mediaID}/file"
      .replaceAll("\\{" + "accountID" + "\\}", apiClient.escapeString(accountID.toString()))
      .replaceAll("\\{" + "mediaID" + "\\}", apiClient.escapeString(mediaID.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    if (file != null)
      localVarFormParams.put("file", file);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "multipart/form-data"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsMediaGetSingle> localVarReturnType = new GenericType<ServiceDocsMediaGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Post", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Get Media List
   * View all media files for an account in your organization.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param startKey start_key for pagination that was returned as next_start_key from your previous call (optional)
   * @param pageSize number of records to return, range 1 to 50 (optional)
   * @return ServiceDocsMediaGetAll
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsMediaGetAll V1AccountAccountidMediaGet(string accountid, string startKey, int32 pageSize) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidMediaGet");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/media"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("start_key", startKey));
    localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsMediaGetAll> localVarReturnType = new GenericType<ServiceDocsMediaGetAll>() {};
    return apiClient.invokeAPI(localVarPath, "Get", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Delete Media
   * Remove a media file that is no longer in use from an account.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param mediaid Device ID, 32 alpha numeric (required)
   * @return ServiceDocsMediaGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsMediaGetSingle V1AccountAccountidMediaMediaidDelete(string accountid, string mediaid) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidMediaMediaidDelete");
    }
    
    // verify the required parameter 'mediaid' is set
    if (mediaid == null) {
      throw new ApiException(400, "Missing the required parameter 'mediaid' when calling V1AccountAccountidMediaMediaidDelete");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/media/{mediaid}"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()))
      .replaceAll("\\{" + "mediaid" + "\\}", apiClient.escapeString(mediaid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsMediaGetSingle> localVarReturnType = new GenericType<ServiceDocsMediaGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Delete", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Get Media Details
   * Permit users to view an account&#39;s specific media information.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param mediaid Media ID, 32 alpha numeric (required)
   * @return ServiceDocsMediaGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsMediaGetSingle V1AccountAccountidMediaMediaidGet(string accountid, string mediaid) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidMediaMediaidGet");
    }
    
    // verify the required parameter 'mediaid' is set
    if (mediaid == null) {
      throw new ApiException(400, "Missing the required parameter 'mediaid' when calling V1AccountAccountidMediaMediaidGet");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/media/{mediaid}"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()))
      .replaceAll("\\{" + "mediaid" + "\\}", apiClient.escapeString(mediaid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsMediaGetSingle> localVarReturnType = new GenericType<ServiceDocsMediaGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Get", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Create Media
   * Generate a media object to allow users to upload a media file in an account.
   * @param accountid Account ID, 32 alpha numeric (required)
   * @param media Media creation or update payload (required)
   * @return ServiceDocsMediaGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsMediaGetSingle V1AccountAccountidMediaPost(string accountid, ServiceVOIPMediaAddEditData media) throws ApiException {
    Object localVarPostBody = media;
    
    // verify the required parameter 'accountid' is set
    if (accountid == null) {
      throw new ApiException(400, "Missing the required parameter 'accountid' when calling V1AccountAccountidMediaPost");
    }
    
    // verify the required parameter 'media' is set
    if (media == null) {
      throw new ApiException(400, "Missing the required parameter 'media' when calling V1AccountAccountidMediaPost");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountid}/media"
      .replaceAll("\\{" + "accountid" + "\\}", apiClient.escapeString(accountid.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsMediaGetSingle> localVarReturnType = new GenericType<ServiceDocsMediaGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Post", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
}
