/*
 * White Label Communications CPaas API Documentation
 * A CPaaS platform API
 *
 * The version of the OpenAPI document: 1.1
 * Contact: support@whitelabelcomm.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package openapi;

import com.sun.jersey.api.client.GenericType;

import .ApiException;
import .ApiClient;
import .Configuration;
import openapi.*;
import .Pair;

import strings;


import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@.annotation.Generated(value = "org.openapitools.codegen.languages.GoClientCodegen", comments = "Generator version: 7.11.0-SNAPSHOT")
public class TemporalRuleAPI {
  private ApiClient apiClient;

  public TemporalRuleAPI() {
    this(Configuration.getDefaultApiClient());
  }

  public TemporalRuleAPI(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Get Temporal Rule List
   * Access all temporal rules for an account.
   * @param accountID Account ID, 32 alpha numeric (required)
   * @param startKey start_key for pagination that was returned as next_start_key from your previous call (optional)
   * @param pageSize number of records to return, range 1 to 50 (optional)
   * @return ServiceDocsTemporalRuleGetAll
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsTemporalRuleGetAll V1AccountAccountIDTemporalruleGet(string accountID, string startKey, int32 pageSize) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountID' is set
    if (accountID == null) {
      throw new ApiException(400, "Missing the required parameter 'accountID' when calling V1AccountAccountIDTemporalruleGet");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountID}/temporalrule"
      .replaceAll("\\{" + "accountID" + "\\}", apiClient.escapeString(accountID.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("start_key", startKey));
    localVarQueryParams.addAll(apiClient.parameterToPair("page_size", pageSize));

    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsTemporalRuleGetAll> localVarReturnType = new GenericType<ServiceDocsTemporalRuleGetAll>() {};
    return apiClient.invokeAPI(localVarPath, "Get", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Create Temporal Rule
   * Create temporal rules for an account.
   * @param accountID Account ID, 32 alphanumeric (required)
   * @param temporalrule payload fields (required)
   * @return ServiceDocsTemporalRuleGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsTemporalRuleGetSingle V1AccountAccountIDTemporalrulePost(string accountID, ServiceVOIPTemporalRuleAddEdit2 temporalrule) throws ApiException {
    Object localVarPostBody = temporalrule;
    
    // verify the required parameter 'accountID' is set
    if (accountID == null) {
      throw new ApiException(400, "Missing the required parameter 'accountID' when calling V1AccountAccountIDTemporalrulePost");
    }
    
    // verify the required parameter 'temporalrule' is set
    if (temporalrule == null) {
      throw new ApiException(400, "Missing the required parameter 'temporalrule' when calling V1AccountAccountIDTemporalrulePost");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountID}/temporalrule"
      .replaceAll("\\{" + "accountID" + "\\}", apiClient.escapeString(accountID.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsTemporalRuleGetSingle> localVarReturnType = new GenericType<ServiceDocsTemporalRuleGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Post", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Delete Temporal Rule
   * Remove a temporal rule from an account.
   * @param accountID Account ID, 32 alpha numeric (required)
   * @param temporalRuleID temporal rule ID, 32 alpha numeric (required)
   * @return ServiceDocsTemporalRuleGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsTemporalRuleGetSingle V1AccountAccountIDTemporalruleTemporalRuleIDDelete(string accountID, string temporalRuleID) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountID' is set
    if (accountID == null) {
      throw new ApiException(400, "Missing the required parameter 'accountID' when calling V1AccountAccountIDTemporalruleTemporalRuleIDDelete");
    }
    
    // verify the required parameter 'temporalRuleID' is set
    if (temporalRuleID == null) {
      throw new ApiException(400, "Missing the required parameter 'temporalRuleID' when calling V1AccountAccountIDTemporalruleTemporalRuleIDDelete");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountID}/temporalrule/{temporalRuleID}"
      .replaceAll("\\{" + "accountID" + "\\}", apiClient.escapeString(accountID.toString()))
      .replaceAll("\\{" + "temporalRuleID" + "\\}", apiClient.escapeString(temporalRuleID.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsTemporalRuleGetSingle> localVarReturnType = new GenericType<ServiceDocsTemporalRuleGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Delete", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Get Temporal Rule Details
   * View details about individual time rules.
   * @param accountID Account ID, 32 alpha numeric (required)
   * @param temporalRuleID Temporal Rule ID, 32 alpha numeric (required)
   * @return ServiceDocsTemporalRuleGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsTemporalRuleGetSingle V1AccountAccountIDTemporalruleTemporalRuleIDGet(string accountID, string temporalRuleID) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'accountID' is set
    if (accountID == null) {
      throw new ApiException(400, "Missing the required parameter 'accountID' when calling V1AccountAccountIDTemporalruleTemporalRuleIDGet");
    }
    
    // verify the required parameter 'temporalRuleID' is set
    if (temporalRuleID == null) {
      throw new ApiException(400, "Missing the required parameter 'temporalRuleID' when calling V1AccountAccountIDTemporalruleTemporalRuleIDGet");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountID}/temporalrule/{temporalRuleID}"
      .replaceAll("\\{" + "accountID" + "\\}", apiClient.escapeString(accountID.toString()))
      .replaceAll("\\{" + "temporalRuleID" + "\\}", apiClient.escapeString(temporalRuleID.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsTemporalRuleGetSingle> localVarReturnType = new GenericType<ServiceDocsTemporalRuleGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Get", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Update Temporal Rule
   * Edit the existing temporal rules in an account.
   * @param accountID Account ID, 32 alpha numeric (required)
   * @param temporalRuleID Temporal Rule ID, 32 alpha numeric (required)
   * @param reqBody payload fields (required)
   * @return ServiceDocsTemporalRuleGetSingle
   * @throws ApiException if fails to make API call
   */
  public ServiceDocsTemporalRuleGetSingle V1AccountAccountIDTemporalruleTemporalRuleIDPut(string accountID, string temporalRuleID, ServiceVOIPTemporalRuleAddEdit2 reqBody) throws ApiException {
    Object localVarPostBody = reqBody;
    
    // verify the required parameter 'accountID' is set
    if (accountID == null) {
      throw new ApiException(400, "Missing the required parameter 'accountID' when calling V1AccountAccountIDTemporalruleTemporalRuleIDPut");
    }
    
    // verify the required parameter 'temporalRuleID' is set
    if (temporalRuleID == null) {
      throw new ApiException(400, "Missing the required parameter 'temporalRuleID' when calling V1AccountAccountIDTemporalruleTemporalRuleIDPut");
    }
    
    // verify the required parameter 'reqBody' is set
    if (reqBody == null) {
      throw new ApiException(400, "Missing the required parameter 'reqBody' when calling V1AccountAccountIDTemporalruleTemporalRuleIDPut");
    }
    
    // create path and map variables
    String localVarPath = "/v1/account/{accountID}/temporalrule/{temporalRuleID}"
      .replaceAll("\\{" + "accountID" + "\\}", apiClient.escapeString(accountID.toString()))
      .replaceAll("\\{" + "temporalRuleID" + "\\}", apiClient.escapeString(temporalRuleID.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "BearerAuth" };

    GenericType<ServiceDocsTemporalRuleGetSingle> localVarReturnType = new GenericType<ServiceDocsTemporalRuleGetSingle>() {};
    return apiClient.invokeAPI(localVarPath, "Put", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
}
