openapi: 3.0.1
info:
  contact:
    email: support@whitelabelcomm.com
    name: CPaaS API Support
    url: https://whitelabelcomm.com
  description: A CPaaS platform API
  title: White Label Communications CPaas API Documentation
  version: "1.1"
servers:
- url: //api.cpaaslabs.net/
paths:
  /v1/account:
    get:
      description: Retrieve a list of all CPaaS accounts that exist within your organization.
      parameters:
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Account List
      tags:
      - Account
    post:
      description: Create an account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPAccountAddData'
        description: account fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Account
      tags:
      - Account
      x-codegen-request-body-name: account
  /v1/account/apikey:
    get:
      description: Authenticate an application or user request to get the client ID
        and client secret for a CPaaS account.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountAPIKey'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      tags:
      - Account
  /v1/account/phonenumber:
    get:
      description: Obtain all phone numbers that have not been assigned to a CPaaS
        account within your organization.
      parameters:
      - description: "Start key for pagination, obtained from previous responses"
        in: query
        name: start_key
        schema:
          type: string
      - description: "Number of records to return per page (range: 1 to 50)"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountPhonenumberGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Unassigned Numbers List
      tags:
      - Phone Number
    post:
      description: Purchase or activate a phone number for CPaaS accounts within your
        business.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.TelephoneNumberList'
        description: phonenumber fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsOrderPhonenumber'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Purchase Number
      tags:
      - Phone Number
      x-codegen-request-body-name: phonenumber
  /v1/account/phonenumber/assign:
    post:
      description: Assign a purchased phone number to an account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.DocsPhonenumberAssignPayload'
        description: assignment payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponseStatusCodeOnly'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Assign Number
      tags:
      - Phone Number
      x-codegen-request-body-name: payload
  /v1/account/phonenumber/disconnect:
    post:
      description: Disconnecting a phone number from a CPaaS account relinquishes
        ownership of the number back to the carrier.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.DocsPhonenumberUnassignPayload'
        description: disconnect payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponseStatusCodeOnly'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Disconnect Number
      tags:
      - Phone Number
      x-codegen-request-body-name: payload
  /v1/account/phonenumber/unassign:
    post:
      description: Remove a phone number from an account and place it back on the
        list of unassigned phone numbers.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.DocsPhonenumberUnassignPayload'
        description: unassign payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponseStatusCodeOnly'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Unassign Number
      tags:
      - Phone Number
      x-codegen-request-body-name: payload
  /v1/account/{accountID}/callflow:
    get:
      description: Permit a user to view the callflow details in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallflowGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Callflow List
      tags:
      - Callflow
    post:
      description: Create instructions for routing a call to a user or system.
      parameters:
      - description: "Account ID, 32 alpha-numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CallflowAddEditData'
        description: Call flow configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallflowGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Call Group
      tags:
      - Callflow
      x-codegen-request-body-name: request
  /v1/account/{accountID}/callflow/{callflowID}:
    delete:
      description: Delete a callflow in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "callflow ID, 32 alpha numeric"
        in: path
        name: callflowID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallflowGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Call Group
      tags:
      - Callflow
    get:
      description: Get the details for a single callflow in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Callflow ID, 32 alpha numeric"
        in: path
        name: callflowID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallflowGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Call Group Details
      tags:
      - Callflow
    put:
      description: Update the details for a single callflow in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Callflow ID, 32 alpha numeric"
        in: path
        name: callflowID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CallflowAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallflowGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Call Group
      tags:
      - Callflow
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/callqueue:
    get:
      description: Retrieve call queue details for an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Call Queues
      tags:
      - Call Queue Management
    post:
      description: Set up a call queue in an account for specific inbound calls.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPCallQueueAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Call Queue
      tags:
      - Call Queue Management
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/callqueue/{queueID}:
    delete:
      description: Remove the call queue from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Call Queue
      tags:
      - Call Queue Management
    get:
      description: "Capture metadata about a specific queue, such as queue_type and\
        \ agent_wrapup_time."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Call Queue Details
      tags:
      - Call Queue Management
    put:
      description: Update the metadata mentioned above.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPCallQueueAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Call Queue
      tags:
      - Call Queue Management
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/callqueue/{queueID}/status:
    get:
      description: "Access the status of a call queue in an account, such as the number\
        \ of available agents (recipients), estimated wait time, and number of active\
        \ sessions."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueGetSingleStatus'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Call Queue Status
      tags:
      - Call Queue Management
  /v1/account/{accountID}/channel:
    get:
      description: Get a list of active channels for an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsChannelGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Account Channel List
      tags:
      - Channel
  /v1/account/{accountID}/channel/{channelID}:
    get:
      description: Access details about each channel in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Channel ID
        in: path
        name: channelID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsChannelGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Channel Details
      tags:
      - Channel
    post:
      description: "Link an action, such as transfer or hangup to a channel."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Channel ID
        in: path
        name: channelID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.ChannelRunActionData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Associate Action to Channel
      tags:
      - Channel
      x-codegen-request-body-name: reqBody
    put:
      description: Link a metaflow to an active channel.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Channel ID
        in: path
        name: channelID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.ChannelRunMetaflowData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Associate Metaflow to Channel
      tags:
      - Channel
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/device/{deviceID}/channel:
    get:
      description: Get the list of active channels for a device.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Device ID, 32 alpha numeric"
        in: path
        name: deviceID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsChannelGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Device Channel List
      tags:
      - Channel
  /v1/account/{accountID}/device/{deviceID}/metaflow:
    delete:
      description: Delete all metaflows associated with a device.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Device ID, 32 alpha numeric"
        in: path
        name: deviceID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Device Metaflow
      tags:
      - Metaflow
    get:
      description: Get the list of metaflows for a device.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Device ID, 32 alpha numeric"
        in: path
        name: deviceID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Device Metaflow List
      tags:
      - Metaflow
    post:
      description: Create a metaflow or multiple metaflows for a device.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Device ID, 32 alpha numeric"
        in: path
        name: deviceID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPMetaflowAddData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Device Metaflow
      tags:
      - Metaflow
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/group:
    get:
      description: Get a list of groups associated with an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocGroupGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Group List
      tags:
      - Group
    post:
      description: Provide an additional resource by adding a group list to an account.
      parameters:
      - description: Account ID
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPGroupAddEdit2'
        description: group fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocGroupGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Group
      tags:
      - Group
      x-codegen-request-body-name: group
  /v1/account/{accountID}/group/{groupID}:
    delete:
      description: Delete a call group in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "group ID, 32 alpha numeric"
        in: path
        name: groupID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocGroupGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Group
      tags:
      - Group
    get:
      description: Access details about a single group within an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Group ID, 32 alpha numeric"
        in: path
        name: groupID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocGroupGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Group Details
      tags:
      - Group
    put:
      description: "Modify the name, settings and other information for a group within\
        \ an account."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Group ID, 32 alpha numeric"
        in: path
        name: groupID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPGroupAddEdit2'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocGroupGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Group
      tags:
      - Group
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/loginrecipient/{recipientID}:
    post:
      description: "Agents must log in to receive calls. Depending on their membership,\
        \ they can log in to one or more queues. (If an agent is a member of more\
        \ than one queue, they will receive calls from all the queues they are a part\
        \ of.)"
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recipient ID, 32 alpha numeric"
        in: path
        name: recipientID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPCallQueueRecipientLoginLogoutData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueResponseShort'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Login as Recipient
      tags:
      - Call Queue Recipient
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/media/{mediaID}/file:
    get:
      description: Gather data about the media objects in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Media ID, 32 alpha numeric"
        in: path
        name: mediaID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            audio/mp3:
              schema:
                format: binary
                type: string
            audio/mpeg:
              schema:
                format: binary
                type: string
            audio/mpeg3:
              schema:
                format: binary
                type: string
            audio/x-wav:
              schema:
                format: binary
                type: string
            audio/wav:
              schema:
                format: binary
                type: string
            audio/ogg:
              schema:
                format: binary
                type: string
            video/x-flv:
              schema:
                format: binary
                type: string
            video/h264:
              schema:
                format: binary
                type: string
            video/mpeg:
              schema:
                format: binary
                type: string
            video/quicktime:
              schema:
                format: binary
                type: string
            video/mp4:
              schema:
                format: binary
                type: string
            video/webm:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/mp3:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/mpeg3:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/x-wav:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/wav:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/ogg:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            video/x-flv:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            video/h264:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            video/mpeg:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            video/quicktime:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            video/mp4:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            video/webm:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Media File
      tags:
      - Media
    post:
      description: Include a media file that is connected to a media object in an
        account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Media ID, 32 alpha numeric"
        in: path
        name: mediaID
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_v1_account__accountID__media__mediaID__file_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsMediaGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Add Media File
      tags:
      - Media
  /v1/account/{accountID}/menu:
    get:
      description: Users can access data about all menus in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsMenuGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Menu List
      tags:
      - Menu
    post:
      description: Create a new menu for an account.
      parameters:
      - description: "Account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPMenuAddEditData'
        description: Menu data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsMenuGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Menu
      tags:
      - Menu
      x-codegen-request-body-name: menu
  /v1/account/{accountID}/menu/{menuID}:
    delete:
      description: Delete a menu from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Menu ID, 32 alpha numeric"
        in: path
        name: menuID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsMenuGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Menu
      tags:
      - Menu
    get:
      description: Get details about a menu in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Menu ID, 32 alpha numeric"
        in: path
        name: menuID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsMenuGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Menu Details
      tags:
      - Menu
    put:
      description: Edit an account menu.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Menu ID, 32 alpha numeric"
        in: path
        name: menuID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPMenuAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsMenuGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Menu
      tags:
      - Menu
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/metaflow:
    delete:
      description: Remove all metaflows from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Account Metaflow
      tags:
      - Metaflow
    get:
      description: Get an account's metaflow list.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Account Metaflow List
      tags:
      - Metaflow
    post:
      description: Generate a metaflow for an account.
      parameters:
      - description: Account ID
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPMetaflowAddData'
        description: Metaflow fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Account Metaflow
      tags:
      - Metaflow
      x-codegen-request-body-name: metaflow
  /v1/account/{accountID}/parkedcall:
    get:
      description: Retrieve a list of calls parked on hold in a numbered slot.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsParkedcallGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Call Park List
      tags:
      - Call Park
  /v1/account/{accountID}/presence:
    get:
      description: Retrieve details of presence subscriptions in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsPresenceGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Presence Details
      tags:
      - Presence
  /v1/account/{accountID}/presence/{extension}:
    put:
      description: Set or reset the presence status of an extension.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: Extension
        in: path
        name: extension
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPPresenceSetResetEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Set/Reset Presence for Extension
      tags:
      - Presence
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/queuemembership:
    post:
      description: Allow users to create queue memberships for recipients.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPQueueMembershipAddData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueMemberGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Grant Queue Membership to User
      tags:
      - Call Queue Membership
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/queuemembership/{recipientID}/disable:
    post:
      description: Deactivate queue membership for a recipient.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recipient ID, 32 alpha numeric"
        in: path
        name: recipientID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Disable Queue Membership
      tags:
      - Call Queue Membership
  /v1/account/{accountID}/queuemembership/{recipientID}/enable:
    post:
      description: Activate queue membership for a recipient.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recipient ID, 32 alpha numeric"
        in: path
        name: recipientID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPCallQueueEnableMembershipData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Enable Queue Membership
      tags:
      - Call Queue Membership
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/queuerecipient:
    get:
      description: Get a list of all recipients in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsGetQueueRecipients'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Change Recipient Status
      tags:
      - Call Queue Recipient
  /v1/account/{accountID}/queueroles:
    get:
      description: Obtain data about each queue role in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallQueueGetRoles'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Queue Roles of Account
      tags:
      - Call Queue Management
  /v1/account/{accountID}/queueroles/{queueID}:
    post:
      description: Assign roles to members in a call queue.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Queue ID, 32 alpha numeric"
        in: path
        name: queueID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPCallQueueRoleAssignData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Assign Queue Role to Call Queue
      tags:
      - Call Queue Management
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/recipient/{recipientID}/status:
    post:
      description: "Change the status of a recipient to ready, away, etc."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recipient ID, 32 alpha numeric"
        in: path
        name: recipientID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPCallQueueRecipientStatusData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Recipient List
      tags:
      - Call Queue Recipient
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/recording:
    get:
      description: Obtain a list of the call recordings within an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Account Call Recording
      tags:
      - Call Recording
  /v1/account/{accountID}/recording/{recordingID}:
    delete:
      description: Delete a single call recording from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recording ID, 39 (yyyymm-<32 id>)"
        in: path
        name: recordingID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Call Recording
      tags:
      - Call Recording
    get:
      description: "Access details for each recorded call in an account (e.g., duration,\
        \ names and numbers of call participants, etc.)."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Recording ID, 39 (yyyymm-<32 id>)"
        in: path
        name: recordingID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetSingle'
            audio/mp3:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetSingle'
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetSingle'
            audio/mpeg3:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetSingle'
            audio/x-wav:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetSingle'
            audio/wav:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/mp3:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/mpeg:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/mpeg3:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/x-wav:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
            audio/wav:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Call Recording Details
      tags:
      - Call Recording
  /v1/account/{accountID}/storage:
    delete:
      description: Delete items that are stored in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsStorageGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Storage
      tags:
      - Storage
    get:
      description: Retrieve storage details for an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsStorageGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Storage Details
      tags:
      - Storage
    post:
      description: "Create storage in an account for voicemails, call recordings,\
        \ faxes, etc."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPStorageAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsStorageGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Storage
      tags:
      - Storage
      x-codegen-request-body-name: reqBody
    put:
      description: "Modify the names of metadata to make it easier to locate (e.g.,\
        \ change the name of voicemail_storage to voicemail_and_callrecordings_storage,\
        \ etc.)."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPStorageAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsStorageGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Storage
      tags:
      - Storage
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/temporalrule:
    get:
      description: Access all temporal rules for an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Temporal Rule List
      tags:
      - Temporal Rule
    post:
      description: Create temporal rules for an account.
      parameters:
      - description: "Account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPTemporalRuleAddEdit2'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Temporal Rule
      tags:
      - Temporal Rule
      x-codegen-request-body-name: temporalrule
  /v1/account/{accountID}/temporalrule/{temporalRuleID}:
    delete:
      description: Remove a temporal rule from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "temporal rule ID, 32 alpha numeric"
        in: path
        name: temporalRuleID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Temporal Rule
      tags:
      - Temporal Rule
    get:
      description: View details about individual time rules.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Temporal Rule ID, 32 alpha numeric"
        in: path
        name: temporalRuleID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Temporal Rule Details
      tags:
      - Temporal Rule
    put:
      description: Edit the existing temporal rules in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Temporal Rule ID, 32 alpha numeric"
        in: path
        name: temporalRuleID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPTemporalRuleAddEdit2'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Temporal Rule
      tags:
      - Temporal Rule
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/temporalruleset:
    get:
      description: Access the temporal rule set list in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleSetGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Temporal Rule Set List
      tags:
      - Temporal Rule Set
    post:
      description: Develop a new temporal rule set for an account.
      parameters:
      - description: "Account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPTemporalRuleSetAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleSetGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Temporal Rule Set
      tags:
      - Temporal Rule Set
      x-codegen-request-body-name: temporalruleset
  /v1/account/{accountID}/temporalruleset/{temporalRuleSetID}:
    delete:
      description: Delete the temporal rule set from an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "temporal rule set ID, 32 alpha numeric"
        in: path
        name: temporalRuleSetID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleSetGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Temporal Rule Set
      tags:
      - Temporal Rule Set
    get:
      description: Acquire details about a temporal rule set in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Temporal Ruleset ID, 32 alpha numeric"
        in: path
        name: temporalRuleSetID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleSetGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Temporal Rule Set Details
      tags:
      - Temporal Rule Set
    put:
      description: Efficiently adjust the temporal rule set in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Temporal Ruleset ID, 32 alpha numeric"
        in: path
        name: temporalRuleSetID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPTemporalRuleSetAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsTemporalRuleSetGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Temporal Rule Set
      tags:
      - Temporal Rule Set
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/user/{userID}/channel:
    get:
      description: Get the list of active channels for a user.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "User ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsChannelGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get User Channel List
      tags:
      - Channel
  /v1/account/{accountID}/user/{userID}/metaflow:
    delete:
      description: Delete all metaflows associated with a user.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "user ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete User Metaflow
      tags:
      - Metaflow
    get:
      description: Get the list of metaflows for a user.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "user ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get User Metaflow List
      tags:
      - Metaflow
    post:
      description: Add a metaflow or multiple metaflows for a user in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "user ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPMetaflowAddData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocMetaflowGet'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create User Metaflow
      tags:
      - Metaflow
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/user/{userID}/presence:
    put:
      description: Set or reset the presence status of a user within an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "User ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPPresenceSetResetEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.APIResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Set/Reset Presence for User
      tags:
      - Presence
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/user/{userID}/recording:
    get:
      description: Retrieve a list of call recordings for a user within an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "User ID, 32 alpha numeric"
        in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsCallRecordingGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get User Call Recording
      tags:
      - Call Recording
  /v1/account/{accountID}/voicemail:
    get:
      description: List all voicemail boxes in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Voicemail Box List
      tags:
      - Voicemail
    post:
      description: Create a voicemail box for receiving and storing voicemail messages.
      parameters:
      - description: "account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPVoicemailAddEditData'
        description: voicemail payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Voicemail Box
      tags:
      - Voicemail
      x-codegen-request-body-name: voicemail
  /v1/account/{accountID}/voicemail/{voicemailID}:
    delete:
      description: Delete a voicemail box in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Voicemail Box
      tags:
      - Voicemail
    get:
      description: Get information about a single voicemail box.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Voicemail Box Details
      tags:
      - Voicemail
    put:
      description: "Update the settings in an individual voicemail box, such as the\
        \ owner, PIN, etc."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPVoicemailAddEditData'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Voicemail Box
      tags:
      - Voicemail
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/voicemail/{voicemailID}/message:
    get:
      description: Get a list of voicemail messages from an account's voicemail box.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailMessageGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Voicemail Message List
      tags:
      - Voicemail
    post:
      description: Create the container information for a recorded voicemail message
        in a voicemail box.
      parameters:
      - description: "account ID, 32 alphanumeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "voicemail ID, 32 alphanumeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPVoicemailMessageAddData'
        description: voicemail message payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailMessageGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Voicemail Message
      tags:
      - Voicemail
      x-codegen-request-body-name: message
  /v1/account/{accountID}/voicemail/{voicemailID}/message/{messageID}:
    delete:
      description: Delete a voicemail message from a voicemail box in an account.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "message ID, 32 alpha numeric"
        in: path
        name: messageID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailMessageGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Voicemail Message
      tags:
      - Voicemail
    get:
      description: "Retrieve the container details of an individual voicemail message.\
        \ This includes a reference to the audio file, but not the message itself."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "Message ID, 39 (yyyymm-<32 id>)"
        in: path
        name: messageID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailMessageGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Voicemail Message Details
      tags:
      - Voicemail
    put:
      description: Copy or move a voicemail message to a different folder in the same
        voicemail box or move the message to a separate voicemail box.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alpha numeric"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "Message ID, 39 (yyyymm-<32 id>)"
        in: path
        name: messageID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPVoicemailMessageChange'
        description: payload fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsVoicemailMessageGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Voicemail Message
      tags:
      - Voicemail
      x-codegen-request-body-name: reqBody
  /v1/account/{accountID}/voicemail/{voicemailID}/message/{messageID}/raw:
    get:
      description: |-
        Get the original audio content of a specific voicemail message identified by its unique ID within an account's voicemail box.
        URL Param "voicemailID" is a unique 32-character alphanumeric identifier assigned by the system, which refers to a specific voicemail box.
        URL Param "messageID" is a unique 32-character alphanumeric identifier assigned by the system, which refers to a specific message within a voicemail box.
      parameters:
      - description: "Account ID, unique 32-character alphanumeric identifier"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail Box ID, unique 32-character alphanumeric identifier"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "Message ID, unique 32-character alphanumeric identifier"
        in: path
        name: messageID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Voicemail Message File
      tags:
      - Voicemail
    post:
      description: Associate an audio recording file with the voicemail to fully complete
        the message.
      parameters:
      - description: "Account ID, 32 alphanumeric characters"
        in: path
        name: accountID
        required: true
        schema:
          type: string
      - description: "Voicemail ID, 32 alphanumeric characters"
        in: path
        name: voicemailID
        required: true
        schema:
          type: string
      - description: "Message ID, 32 alphanumeric characters"
        in: path
        name: messageID
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_v1_account__accountID__voicemail__voicemailID__message__messageID__raw_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Add Voicemail Message File
      tags:
      - Voicemail
  /v1/account/{accountid}:
    delete:
      description: Delete an account within your organization.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Delete Account
      tags:
      - Account
    get:
      description: "This endpoint will not allow for modifying or making updates,\
        \ it will only allow users to view/retrieve details."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Account Details
      tags:
      - Account
    post:
      description: Establish a sub account to enable an administrator within your
        organization to create accounts.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPAccountAddData'
        description: account fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create Sub Account
      tags:
      - Account
      x-codegen-request-body-name: account
    put:
      description: Modify pertinent account data.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPAccountEditData'
        description: account fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountGetSingle'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Update Account
      tags:
      - Account
      x-codegen-request-body-name: account
  /v1/account/{accountid}/children:
    get:
      description: Conveniently access the list of children accounts.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsAccountGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Sub Account List
      tags:
      - Account
  /v1/account/{accountid}/device:
    get:
      description: "Obtain a list of all devices associated with an account such as\
        \ fax machines, cell phones, and soft phones."
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountid
        required: true
        schema:
          type: string
      - description: start_key for pagination that was returned as next_start_key
          from your previous call
        in: query
        name: start_key
        schema:
          type: string
      - description: "number of records to return, range 1 to 50"
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsDeviceGetAll'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/util.CPAASError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get Device List
      tags:
      - Device
    post:
      description: Connect a new device to an account to enhance communication methods.
      parameters:
      - description: "Account ID, 32 alpha numeric"
        in: path
        name: accountid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.VOIPDeviceAddEdit2'
        description: device fields
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.DocsDeviceGetSingle'
          description: OK
[...]
